*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{font-size: 62.5%;}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@600&family=Sansita+Swashed:wght@300&family=Varela+Round&display=swap');

.main_div{
    background-color: #34495e;
    width: 100%;
    height: 100vh;
    display:grid;
    place-items:center;
}
.center_div{
    /* border: .1rem solid silver; */
    border-radius: 5rem;
    text-align: center;
    padding: 2rem;
    min-height: 40rem;
    width: 25%;
    /* box-shadow: .2rem .5rem .4rem .2rem rgb(190, 188, 188); */
    /* background-color: #fff;   */
}
.center_div img{
    height: 6rem;
    width: 6rem;
}

.items{
    border: none;
    padding: 2rem;
}
.items ol {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #0f1c29;
    margin-bottom: 2rem;
padding: 1rem 0;
}

label img{
    transform: translateY(.8rem);
}
.items ol:hover{
    transform: translateY(-.2rem);
    transition: all 1s;
    background-color: #04345e;
}
.items ol li{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 2rem;
    list-style: none;
}
img[alt="delete"]{
    width: 2.3rem;height: 2.3rem;
    margin-left: 1.5rem;
    /* transform: translateX(6rem); */
    cursor: pointer;
}
img[alt="plus"]{
    width: 2.5rem;height: 2.5rem;
    margin-left: 1.5rem;
    cursor: pointer;
}
#text{
    color: #fff;
    font-family: 'Montserrat';
    padding: 1rem 3em;
    border: .1rem solid #fff;
    outline: none;
    background: #06121d;
}

/* Login form layout  */

.login_container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(#e66465, #9198e5);
    display:grid;
    place-items:center;
}
.main_container{
    height: 50%;
    width: 25%;
    border-radius: 1rem;
    background-color: #fff;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
    box-shadow: .4rem 0 .8rem .5rem black;
}
.main_container h1{
    margin-top: 5rem;
    font-family: 'Montserrat', sans-serif;
    padding: .3rem 2rem;    
    font-weight: bolder;
    border-bottom: .3rem solid #9b59b6;
}
.main_container button{
    padding: 1rem 3rem;
    background-color: #9b59b6;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
}
.main_container button:hover{
    transition: all 1s;
    background-color: #542666;
}
::placeholder{
    font-family: 'Open Sans', sans-serif;
}

#textfield,#pwd{    
    border: none;
    border-bottom: .6rem solid #9b59b6;
    padding: .6rem;
    outline: none;
}